/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

/* Components */
$blue: #00f;

// Typography
$text-color: #252b42;
$second-text-color: #737373;

$primary-color: #ffa62b;
$secondary-color: #00a0c1;

$footer-color: #16697a;

$large: 1106px;
$medium: 768px;
$small: 480px;

$maxWidth: 1050;